/* Coolors Exported Palette - https://coolors.co/f4e8c1-a0c1b9-70a0af-706993-331e38 */

/* CSS HEX */
--dutch-white: #f4e8c1ff;
--ash-gray: #a0c1b9ff;
--moonstone: #70a0afff;
--pomp-and-power: #706993ff;
--dark-purple: #331e38ff;

/* CSS HSL */
--dutch-white: hsla(46, 70%, 86%, 1);
--ash-gray: hsla(165, 21%, 69%, 1);
--moonstone: hsla(194, 28%, 56%, 1);
--pomp-and-power: hsla(250, 17%, 49%, 1);
--dark-purple: hsla(288, 30%, 17%, 1);

/* SCSS HEX */
$dutch-white: #f4e8c1ff;
$ash-gray: #a0c1b9ff;
$moonstone: #70a0afff;
$pomp-and-power: #706993ff;
$dark-purple: #331e38ff;

/* SCSS HSL */
$dutch-white: hsla(46, 70%, 86%, 1);
$ash-gray: hsla(165, 21%, 69%, 1);
$moonstone: hsla(194, 28%, 56%, 1);
$pomp-and-power: hsla(250, 17%, 49%, 1);
$dark-purple: hsla(288, 30%, 17%, 1);

/* SCSS RGB */
$dutch-white: rgba(244, 232, 193, 1);
$ash-gray: rgba(160, 193, 185, 1);
$moonstone: rgba(112, 160, 175, 1);
$pomp-and-power: rgba(112, 105, 147, 1);
$dark-purple: rgba(51, 30, 56, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #f4e8c1ff, #a0c1b9ff, #70a0afff, #706993ff, #331e38ff);
$gradient-right: linear-gradient(90deg, #f4e8c1ff, #a0c1b9ff, #70a0afff, #706993ff, #331e38ff);
$gradient-bottom: linear-gradient(180deg, #f4e8c1ff, #a0c1b9ff, #70a0afff, #706993ff, #331e38ff);
$gradient-left: linear-gradient(270deg, #f4e8c1ff, #a0c1b9ff, #70a0afff, #706993ff, #331e38ff);
$gradient-top-right: linear-gradient(45deg, #f4e8c1ff, #a0c1b9ff, #70a0afff, #706993ff, #331e38ff);
$gradient-bottom-right: linear-gradient(135deg, #f4e8c1ff, #a0c1b9ff, #70a0afff, #706993ff, #331e38ff);
$gradient-top-left: linear-gradient(225deg, #f4e8c1ff, #a0c1b9ff, #70a0afff, #706993ff, #331e38ff);
$gradient-bottom-left: linear-gradient(315deg, #f4e8c1ff, #a0c1b9ff, #70a0afff, #706993ff, #331e38ff);
$gradient-radial: radial-gradient(#f4e8c1ff, #a0c1b9ff, #70a0afff, #706993ff, #331e38ff);